@font-face {
    font-family: 'aero';
    src: url('Aero.ttf');
}
@font-face {
    font-family: 'kungfont';
    src: url('Kungfont-Regular.otf');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #616161;

}
.hidden {
    visibility: hidden;
}
/* Start Animation */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}}
.fade-in {
    animation: fadeIn 1s ease-in-out;}

@keyframes flipInX {
    from {transform: perspective(400px) rotateY(90deg);
        animation-timing-function: ease-in;
        opacity: 0;}
    40% {transform: perspective(400px) rotateY(-20deg);
        animation-timing-function: ease-in;}
    60% {transform: perspective(400px) rotateY(10deg);
        opacity: 1;}
    80% {transform: perspective(400px) rotateY(5deg);}
    to {transform: perspective(400px);
        opacity: 1;}}
.flip-in-x {
    animation: flipInX 0.75s ease-in-out;}

@keyframes popDown {
    0% {transform: translateY(-100px);}}
.pop-down {
    animation: popDown 1s ease-in-out;}

@keyframes slideUp {
    0% {transform: translateY(50px);}
    100% {transform: translateY(0);
    opacity: 1;}}
.slide-up {
    animation: slideUp 0.5s ease-in-out;}

@keyframes slideUpRemove {
    0% {transform: translateY(0);}
    100% {transform: translateY(50px);
    opacity: 0;}}
.slide-up-remove {
    animation: slideUpRemove 0.5s ease-in-out;}

@keyframes slideDown {
    0% {transform: translateY(-50px);}
    100% {transform: translateY(0);
    opacity: 1;}}
.slide-down {
    animation: slideDown 0.5s ease-in-out;}

@keyframes slideDownRemove {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);
    opacity: 0;}}
.slide-down-remove {
    animation: slideDownRemove 0.5s ease-in-out;}

@keyframes slideInLeft {
    0% {opacity: 0;
        transform: translateX(-300px);}
    100% {opacity: 1;
          transform: translateX(0);}}
.slide-in-left {
    animation: slideInLeft 1s ease-in-out;}

@keyframes slideInRight {
    0% {opacity: 0;
        transform: translateX(300px);}
    100% {opacity: 1;
          transform: translateX(0);}}
.slide-in-right{
    animation: slideInRight 1s ease-in-out;}

@keyframes toBottomFromTop {
    49% {transform: translateY(100%);}
    50% {transform: translateY(-100%);
        opacity: 0;}
    51% {opacity: 1;}}
.to-bottom-from-top {
    animation: toBottomFromTop 1s ease-in-out;}

@keyframes popIn {
    0% {transform: scale(0);}
    60% {transform: scale(1.05);
        opacity: 1;}
    80% {transform: scale(0.95);}
    100%{transform: scale(1);
        opacity: 1;}}
.pop-in {
    animation: popIn 1s ease-in-out;}

/* End Animation */

/* Start Home Part */
.home {
    background-image: url('Background5.jpg');
    background-repeat: no-repeat;
    background-color: #1f182e;
    background-size: cover;
    background-position: center;
    padding: 20% 0;
    width: 100%;
}
nav {
    width: 100%;
    background-color: #15111d;
    color: white;
    border-bottom: 2px solid #f1ebfc;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}
nav ul {
    list-style-type: none;
    margin: 1.2% 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    margin: 50px;
    color: #f1ebfc;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover {
    color: #fd588d;
}
.active {
    color: #fd588d;
}
.text {
    text-align: center;
    line-height: 50px;
    font-size: 32pt;
    pointer-events: none;
    z-index: 1;
    color: #fff;
    font-family: 'Aero', cursive;

}
.highlight {
    color:#fd588d;
    font-family: 'kungfont', cursive;

}

/* End Home Part */

/* Start About Part */

.about, .projects, .contact {
    width: 100%;
    background-color: #fff;
    color: #363636;
    overflow: hidden;
}
.about .mainhead,
.projects .mainhead,
.contact .mainhead{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.about .mainpara,
.projects .mainpara,
.contact .mainpara{
    text-align: center;
    font-size:30px;
    margin-top: -25px;
    margin-bottom: 70px;
    font-weight: bolder;
}

.about .feature1,
.about .feature2,
.about .feature3,
.about .feature4 {
    margin: 0  25px 25px 25px;
    width: 21.046%;
    text-align: center;
    display: inline-block;
}
 .about .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    background-color: #04C2C9;
    border-radius: 35%;
}
.about .feature h3 {
    font-size: 25px;
}
.about .feature p {
    height: 100px;
    text-align: center;
}

.about .profile {
    display: inline-block;
    margin-left: 10%;
    width: 100%;
}
.about .profile .who {
    float: left;
    text-align: center;
    width: 25%;
    margin: 50px 150px 50px 50px;
}
.about .profile .who img {
    width: 240px;
    height: 240px;
    border-radius: 40%;
    margin-top: -60px;
    margin-bottom: 20px;
}
.about .profile .who h3 {
    font-size: 25px;
}
.about .profile .who p {
    font-size: 15px;
    line-height: 20px;
}
.about .profile .who span {
    color: #009ADA;
    cursor: pointer;
}

.about .profile .container-skills {
    margin-top: 5px;
    display: inline-block;
    margin-right: 10%;
    margin-left: 5%;
    width: 30%;
}
.about .profile .bar {
    width: 100%;
    margin: 5px auto
}
.about .profile .skill {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.about .profile .bar-outer {
    height: 20px;
    background: #EEEEEE;
    position: relative;
    border-radius: 2px;
}
.about .profile .speech-bubble {
    font-size: 14px;
    line-height: 5px;
    position: absolute;
    top: -8px;
    left: 98%;
    display: none;
}

.about .profile .bar-inner {
    width: 0;
    height: 20px;
    border-radius: 3px;
    background: #04C2C9;
}

/* End About Part */

/* Start Projects Part */
.projects {
    background-color: #e7e7e7;
    height: 700px;
}
.projects .gallery {
    text-align: center;
    padding: 0 23%;
}
.projects .card1,
.projects .card2,
.projects .card3,
.projects .card4,
.projects .card5,
.projects .card6 {
    position: relative;
}
.projects .card1,
    .projects .card4 {
        left: -100px;
    }
    .projects .card2,
    .projects .card5 {
        left: 220px;
    }
    .projects .card3,
    .projects .card6 {
        left: 540px;
    }
.projects .gallery .front {
    position: absolute;
    z-index: 2;
}
.projects .front img {
    width: 300px;
    height: 230px;
}
.projects .back {
    width: 300px;
    height: 230px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}
.projects .back h3 {
    margin: 4px auto;
    width: 80%;
    line-height: 1.1;
    padding-top: 20%;
}
.projects .back p {
    color: #E31B6D;
    font-size: 14px;
    margin: 10px auto;
    width: 80%;
}
.projects button {
    border: 2px solid #E31B6D;
    background-color: #fff;
    line-height: 2;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    margin-top: 35px;
}
.projects button:hover {
    color: #fff;
    background-color: #E31B6D;
}

/* End Projects Part */

/* Start Contact Part */
.contact {
    background-color: #252934;
    height: 500px;
    position: relative;
}
.contact .mainhead{
    color: #fff;
}
.contact .mainpara{
    margin-bottom: 40px;
    color: #fff;
}
.contact > p {
    color: #009ADA;
    text-align: center;
    margin-bottom: 20px;
}
.contact form {
    position: absolute;
    margin-left: 35.5%;
}
.contact form #name,
.contact form #email,
.contact form #message{
    margin-top: 5px;
    width: 400px;
    height: 30px;
    background-color: #1e242c;
    border: none;
    padding: 2px 10px;
}
.popup {
    position: relative;
    display: inline-block;
}
#myPopup {
    width: 175px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
}
.popup .popuptext::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.contact form #message {
    height: 120px;
    padding: 4px 10px;
}
.contact form #submit {
    margin-top: 5px;
    background-color: #1e242c;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 2px 15px;
    margin-left: 310px;
    cursor: pointer;
}
.contact form #submit:hover {
    background-color: #009ADA;
    border-color: #009ADA;
    transition:  all 0.3s ease-in-out; 
}
.contact > div {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 280px;
}

/* End Contact Part */  

/* Start Footer Part */

footer {
    font-size: 18px;
    text-align: center;
    height: 100px;
    padding-top: 20px;
    padding-left: 50px;
    background-color: #1e242c;

}

footer a {
    text-decoration: none;
}

footer a img {
    width: 2.2%;
    height: 2.2%;
    margin-left: 0.5%;
    border-radius: 10px;
}
footer p {
    margin-top: 10px;
}
footer p span {
    color: #E31B6D;
}

/* End Footer Part */

/* Scroll To Top Button */
#up {
    position: fixed;
    bottom: 30px;
    right: 10px;
    background-color: #363636;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: none;
    z-index: 9999;
    cursor: pointer;
    font-size: 16px;
}



